// COLORS
$color-primary: #a8c0ff;
$color-secondary: #3f2b96;
$color-primary-dark: #5f7fd1;
$color-secondary: rgb(58, 55, 221);

// $color-primary: #30cfd0;
// $color-secondary: #330867;
// $color-primary-dark: #30cfd0;

$color-grey-dark: #333;
$color-white: rgb(255, 255, 255);
$color-black: #000;
$color-grey-light: #f2f2f2;
$color-grey: #555;
$color-red: #fc182f;

$gradient-main: linear-gradient(to bottom right, $color-primary, $color-secondary);
$gradient-delete: linear-gradient(to bottom right, #ff4457, #fc182f);
$gradient-confirm: linear-gradient(to bottom right, #b5db6f, #85c83b);
$gradient-confirm: linear-gradient(to right, #00b09b, #96c93d);
$gradient-premium: linear-gradient(to bottom right, #ebd558, #e0bb16);
$gradient-disabled: linear-gradient(to bottom right, rgb(48, 48, 48), #161616);

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
$gutter-section-start: 5rem;
$gutter-section-end: 11rem;
