*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is (currently 10px)
    font-size: 62.5%;

    @include respond(small-deskt) {
        font-size: 59%;
    }

    @include respond(tab-land) {
        font-size: 56.2%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-deskt) {
        font-size: 75%;
    }
}

body {
    background-color: white;
    box-sizing: border-box;
}
