body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0 0.3rem;
    //background-color: $color-grey-light;
    position: relative;
    padding-bottom: 0.2rem;
    margin-bottom: 2rem;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 2px;
        background-image: linear-gradient(
            to right,
            transparent 0%,
            $color-secondary 20%,
            $color-primary 80%,
            transparent 100%
        );
    }
}
