.btn {
    font: inherit;
    display: block;
    width: 80%;
    max-width: 25rem;
    outline: none;
    text-decoration: none;
    border: none;
    margin: 1rem auto;
    background-image: linear-gradient(to right, $color-primary-dark, $color-secondary);
    padding: 1rem 1.2rem;
    font-size: 2rem;

    color: $color-white;
    border-radius: 4rem;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
    backface-visibility: hidden;

    &:hover {
        transform: scale(1.03);
    }

    &--long {
        max-width: 30rem;
    }

    &--grey {
        opacity: 0.8;
        background-image: linear-gradient(to right, rgb(107, 107, 107), rgb(49, 49, 49));
        cursor: auto;
        &:hover {
            transform: none;
        }
    }

    &--off {
        display: none;
    }

    &--delete {
        background-image: $gradient-delete;
    }
    &--confirm {
        background-image: $gradient-confirm;
    }

    &--short {
        width: 25rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    &--small {
        margin: 0;
        width: 15rem;
        font-size: 1.8rem;
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
        @include respond(phone) {
            width: 12rem;
            font-size: 1.5rem;
        }
        @include respond(small-phone) {
            width: 10rem;
            font-size: 1.4rem;
        }
    }
}
