.user-menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 105%);

    width: 22rem;
    background-color: white;
    border-radius: 5px;
    z-index: 600;
    box-shadow: 0 0.2rem 1rem rgba($color-black, 0.2);
    border: 1px solid rgba($color-grey, 0.2);

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: rgb(240, 246, 248);
        width: 15px;
        height: 7px;
        z-index: 601;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    }

    &__list {
        list-style: none;
    }

    &__link {
        &:first-child {
            text-align: center;
            border-bottom: 1px solid rgba($color-grey, 0.2);
            padding: 1rem 2.5rem 1rem 3rem;
            font-weight: 500;
            cursor: auto;
            &:hover {
                background-color: rgba($color-black, 0.02);
            }
        }

        display: block;
        position: relative;
        padding: 1.5rem 2.5rem 1.5rem 3rem;
        text-align: right;
        background-color: rgba($color-black, 0.02);
        font-size: 1.6rem;

        &:hover {
            background-color: rgba($color-primary, 0.3);
        }
    }

    &__icon {
        font-size: 2rem;
        transform: translateY(-50%);
        color: $color-grey;
        opacity: 0.8;
        position: absolute;
        top: 50%;
        left: 2rem;
    }
}
