.user-menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 105%);

    width: 22rem;
    background-color: white;
    border-radius: 5px;
    z-index: 600;
    box-shadow: 0 0.2rem 1rem rgba($color-black, 0.2);
    border: 1px solid rgba($color-grey, 0.2);

    @include respond(tab-port) {
        position: fixed;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 90%;
        max-width: 60rem;
        background-color: white;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: rgb(240, 246, 248);
        width: 15px;
        height: 7px;
        z-index: 601;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);

        @include respond(tab-port) {
            display: none;
        }
    }

    &__list {
        list-style: none;
        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
        }
    }

    &__link {
        &:first-child {
            text-align: center;
            border-bottom: 1px solid rgba($color-grey, 0.2);
            padding: 1.2rem 2.5rem 1.2rem 3rem;
            font-weight: 500;
            cursor: auto;
            &:hover {
                background-color: rgba($color-black, 0.02);
            }
        }

        display: block;
        position: relative;
        padding: 1.5rem 2.5rem 1.5rem 3rem;
        text-align: right;
        background-color: rgba($color-black, 0.02);
        font-size: 1.6rem;

        &:hover {
            background-color: rgba($color-primary, 0.3);
        }

        @include respond(tab-port) {
            font-size: 1.8rem;
            padding: 2rem 2rem 2em 2rem;
        }
    }

    &__icon {
        font-size: 2rem;
        transform: translateY(-50%);
        color: $color-grey;
        opacity: 0.8;
        position: absolute;
        top: 50%;
        left: 2rem;

        @include respond(tab-port) {
            font-size: 1.8rem;
            transform: translateY(-80%);
        }
    }
}
